*.env
*.env.*
**/.env
**/.env.*
!.env.example
!**/.env.example
*cloudrun.yaml
**/*cloudrun.yaml
**/*cloudrun.yml
backend-hospital-cloudrun.yaml
pdf-rag-pipeline-cloudrun.yaml
backend-hospital/backend-hospital-cloudrun.yaml
