# Build caches
android/
ios/
.gradle/
*.gradle/
build/
.build/

# Large media / assets you don't need on EAS
**/*.mp4
**/*.mov

# Test & dev artifacts
__tests__/
coverage/
*.test.*
*.spec.*

# Logs
logs/
*.log

# Editor
.vscode/
.idea/

# Yarn / npm caches
.yarn/cache
.pnp.*